body {
  background-color: white;
}
h1 {
  font-family: 'Handlee', cursive;
  font-weight: 400;
}

#questionBox{
  text-align: left;
  padding: 5px;
  width:70%;

}

p{
  text-align: left;
  font-family: 'Handlee', cursive;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;

}
img {
  background-color: white;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #008CBA;
  width: 70%;
  height: 200px;

}
.question {
  width: 70%;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #008CBA;

}
#wrapper{
  float: left;
  width:74%;
}
#sidebarWrap{
  width:25%;
  height: 600px;
  float:left;
}

.sidebar{
  border: 1px solid #008CBA;
  font-size: 30px;
  border-radius: 10px;
}

#a, #b, #c, #d{
  width: 34%;
  height: 60px;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #008CBA;
  font-family: 'Handlee', cursive;
  font-size: 20px;

}

#half, #ask{
  width: 20%;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #008CBA;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
};
