body {
  background-color: white;
}
h1 {
  font-family: 'Handlee', cursive;
  font-weight: 400;
}

#questionBox{
  text-align: left;
  padding: 5px;
}

p{
  text-align: left;
  font-family: 'Handlee', cursive;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}
.picture {
  background-color: white;
  width: 610px;
  height: 300px;
  margin-bottom: 5px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid #008CBA;
}
img {
  width: 710px;
  height: 300px;
  border-radius: 10px;
}
.question {
  width: 710px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #008CBA;
}

#box1, #box2, #box3, #box4 {
  width: 350px;
  height: 60px;
  display: inline-block;
  ;
  border-radius: 10px;
  border: 2px solid #008CBA;
  margin-bottom: 5px;
}
button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 10px;
}
